{% comment %} {% extends 'travelagancy/base.html' %}
{% block login_display %}
    <a href="#">Welcome admin</a>
{% endblock %}

{% block content %}
<div class="container-fluid" style="position:absolute;margin-top:0%;width: 35%;left: 5%">
    <h1 style="color: rgb(6, 6, 6)">Add new city to the list:</h1>
    <br>
    <form class="form-horizontal" role="form" action="{% url 'travelagancy:countries_management' %}" method="post" >
        {% csrf_token %}
        <div class="input-group">
            <label for="city" class="input-group-addon">Name of City</label> 
            <input id="city" type="text" name="city" class="control" placeholder="City" required>
        </div>
        {% for order in c_list %}
        <tr>
            <p>{{ order.name }}</p>
        <hr>
        <center>
        {% endfor %}
            <button type="submit" class="btn btn-success">Let's Go</button>
        </center>
    </form>
</div>
{% endblock %} {% endcomment %}